doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="twitter:" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Marine
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/owl.carousel.css")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic")
  body
    include pug/variables.pug
    include pug/header.pug
    include pug/about-site.pug
    include pug/projects.pug
    include pug/blocks.pug
    include pug/blue-box.pug
    include pug/our-team.pug
    include pug/clients-and-contacts.pug
    include pug/footer.pug
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="js/owl.carousel.js")
    script(src="js/sliders.js")
    script(src="js/size.js")
    script(src="js/onclick.js")
