-
  var links = [
  'facebook', 
  'twitter', 
  'skype', 
  'google+', 
  'vimeo', 
  'linkedin', 
  'instagram'
  ]
-
  var slider = [
    'one',
    'two',
    'three'
  ]
-
  var services = [
    {alt: "web-dev", title: "Web development"},
    {alt: "seo-mon", title: "SEO Monitoring"},
    {alt: "net-com", title: "Network Communities"},
    {alt: "web-an", title: "Web analytics"}
  ]
-
  var navigation = [
    'HOME',
    'BLOG',
    'GALLERY',
    'PAGES',
    'CONTACTS'
  ]
-
  var projects = [
    {title: "Project Title1", text: "GRAPHIC DESIGN"},
    {title: "Project Title2", text: "GRAPHIC DESIGN"},
    {title: "Project Title3", text: "GRAPHIC DESIGN"},
    {title: "Project Title4", text: "GRAPHIC_DESIGN"},
    {title: "Project Title5", text: "GRAPHIC DESIGN"},
    {title: "Project Title6", text: "GRAPHIC DESIGN"},
    {title: "Project Title7", text: "GRAPHIC DESIGN"},
    {title: "Project Title8", text: "GRAPHIC_DESIGN"}
  ]
-
  var blogs = [
    {day: "15", date: "OCT, 2013", img: "blog_icon_one.png"},
    {day: "25", date: "OCT, 2013", img: "blog_icon_two.png"}
  ]
-
  var blog_navigation = [
    'BY ADMIN',
    'WEB, NEWS',
    'COMMENTS',
    'READ MORE'
  ]
-
  var blue_box_text = [
    {title: "Flexible Solutions", img: "blue_box_icon_one.png"},
    {title: "Target Approach", img: "blue_box_icon_two.png"},
    {title: "Global Development", img: "blue_box_icon_three.png"}
  ]
-
  var clients = [
    'client_one.png',
    'client_two.png',
    'client_three.png',
    'client_four.png',
    'client_five.png'
  ]
